* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif
}

body {
  margin: 0;
  padding: 2vw;
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  line-height: 120%;
  font-family: 'Zilla Slab Highlight', serif;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  align-self: center;
}
