* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif
}

body {
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 5vh;
  width: 90vw;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
  margin: 0;
  line-height: 120%;
  font-family: 'Zilla Slab Highlight', serif;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
  align-self: center;
}

table {
  margin: auto;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  padding-right: .25vw;
}

td {
  border-top: solid 1px black;
  min-width: 4vw;
}

tr:nth-of-type(2n-1) td {
  background-color: #f0f0f0;
}

@media (width >= 900px) {
  body { 
    width: 60vw; 
  }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: mintcream;
        font-weight: 300;
        line-height: 1.3;
    }
}
