<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://code.cdn.mozilla.net/fonts/zilla-slab.css" rel="stylesheet">
    <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="public/css/poster.css">
  </head>
  <body>
    <header>
      <h1>
        Mozilla
      </h1>
      <h2>
        {{page.description}}
      </h2>
    </header>

    <main>
    {{content}}
    </main>

    <footer>
      <ul>
        <li>Mozilla public</li>
        <li><a href="https://github.com/mozilla/bug-handling">Source on GitHub</a></li>
      </ul>
    </footer>

  </body>
</html>
