<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Task, Defect, or Enhancement</title>
    <meta name="description" content="How to classify bugs">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://code.cdn.mozilla.net/fonts/zilla-slab.css" rel="stylesheet">
    <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
    <link rel="stylesheet" href="public/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1>
        Mozilla
      </h1>
      <h2>
        Is a new bug a Task, Defect, or Enhancement?
      </h2>
    </header>

    <main>
      <h2>Task</h2>
      <p><strong>Examples:<strong> Change a configuration, update a parameter, add a user, refactor existing code</p>
      <h2>Defect</h2>
      <p>Shipping software is not behaving as expected, a regression, a crash, an error</p>  
      <h2>Enhancement</h2>
      <p>A new feature or function, or changing how an existing feature behaves</p>
    </main>

    <footer>
      <ul>
        <li>Mozilla public</li>
        <li><a href="https://github.com/mozilla/task-defect-enhancement/">Source on GitHub</a></li>
      </ul>
    </footer>

  </body>
</html>
